body{
    background-color: #333333;
    color: #f0f0f0;
}       
h1{
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid #f0f0f0;
}
a {
    text-decoration: none;
}
a:link{
    color: rgb(51, 151, 65);
}
a:visited{
    color: coral;
}
a:hover{
    text-decoration: underline red;
}
#menu{
    display: flex;
    flex-direction: row;
    border: 5px solid greenyellow;
    height: 100px;
    /*display: flex;
    gap: 10px;  /*메뉴 사이의 간격*/
    /*position: relative; /*포지셔닝 기준??*/
}
.coding{
    border: 5px solid blue;
}
.game{
    border: 5px solid skyblue;
}
.coding_menu{
    display: flex;
    flex-direction: column;
    /*display: none;      /*기본적으로 숨기기(왜 block을 하면 안될까?)*/
    /*position: absolute; /*절대 위치*/
    /*top: 100%;  /*부모의 아래쪽에 위치*/
    /*left: 0%;
    width: 100%;    /*전체 너비*/
    /*background-color: #333333;  /*배경색*/
}
article{
    border: 5px solid yellow;
}